
<!DOCTYPE html>
<html lang="en">
  {% load static %}  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="{% static 'index.css' %}">
<body>
    <form method="post" action="{% url 'details' %}">
        {% csrf_token %}
    <div class="container">
        <main class="grid">
            {% for movie in all_movies %}
            
            <article>
                <img  src={{movie.Poster}} alt="">
                <div class="text">
                    <h3>{{movie.Title}}</h3>                    
                    <button type="submit">Details</button>
                </div>
            </article>
            {% endfor %}

        </main>
    </div>
</form>
</body>
</html>